* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1rem;
    border: solid 1px lightslategray;
}

.loginPage {
    padding: 1em;
}

.demoData {
    margin-bottom: 1em;
}

.loginPage input,
.loginPage button {
    width:100%;
    margin-bottom: 1em;
}

button {
    appearance: none;
    border: none;
}

.homePage {
    /* padding: 5vw; */
    height: 100vh;
}

.trafficLightsWrapper {
    background-color: green;
    position: relative;
    height: 90vh;
}

.redBar {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:red;
}

.topContainer,
.bottomContainer,
.middleContainer {
    background-color: rgba(255, 255, 255, 0.7);
}

.topContainer,
.bottomContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.middleContainer {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.compassContainer {
    padding: 5vw;
    width: 50vw;
    height: 100%;
    position: relative;
}

.directionIndicator {
    width: 10%;
    padding-top: 10%;
    border: solid 2px black;
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 50%;
}

.trafficLight {
    width: 16vw;
}

.compass {
    width: 40vw;
    height: 100%;
    position: relative;
    left: -3px;
    top: -3px;
}

.btn {
    background-color: teal;
    border-radius: 3px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.footer {
    display: block;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    position: relative;
}